$unitpx: px;
$unitem: em;
$unitrem: rem;

$font_max_size: 120;
$box_maring_padding_max_size: 120;
$border-radius_max_size: 30;
$z-index_max_size: 100;

$primay_color: #9f74eb;
$primay_color_hover: #FFC8C8;

$secondary_color: #fc80bc;
$secondary_color_hover: #FFC1E0;

$success_color: #93f4ab;
$success_color_hover: #C5FCD0;