* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Source Sans Pro";
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#app {
    --radius-1: 10px;
    --radius-2: 20px;
    --radius-3: 30px;
    --radius-circle: 2000px;
    --trans-default: 0.4s;
    --link: rgb(159, 116, 235);
    --col-error: #fc80bc;
    --col-success: #93f4ab;
}

#app.light {
    --bgc-0: #ffffff;
    --bgc-1: #9f74eb;
    --bgc-2: #f6f2ff;
    --bgc-3: #f5f5f5;
    --boc-1: #030303;
    --boc-2: #e7e7e7;
    --txt-1: #030303;
    --txt-2: #2b2c2b;
    --txt-3: #b4b4b4;
}

#app.dark {
    --bgc-0: #000000;
    --bgc-1: #121212;
    --bgc-2: #242424;
    --bgc-3: #2b2b2b;
    --boc-1: #BFBFBF;
    --boc-2: #FFFFFF;
    --txt-1: #FFFFFF;
    --txt-2: #BFBFBF;
    --txt-3: #6B6B6B;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bgc-0);
    overflow-y: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.show-false {
    display: none !important;
}

input[type="datetime-local"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 42px;
    padding: 0 12px;
    border-radius: var(--radius-circle);
    border: none;
}

svg {
    width: 24px;
    height: 24px;
}

svg path {
    fill: var(--txt-1);
}

.btn-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-circle);
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon.right,
.btn-icon.add {
    background-color: var(--bgc-1);
}

.btn-icon.remove {
    background-color: var(--col-error);
}

.btn-icon svg {
    width: 16px;
    height: 16px;
}

.btn-icon svg path {
    fill: var(--bgc-0);
}

.btn-icon.small svg {
    width: 16px;
    height: 16px;
}

.btn-icon.purple svg path {
    fill: var(--bgc-1);
}



/* common css */
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.overflow-hidden {
    overflow: hidden;
}
.cursor-pointer {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-Raleway-400 {
    font-family: "Raleway";
    font-weight: 400;
}
.font-Raleway-500 {
    font-family: "Raleway";
    font-weight: 500;
}
.font-Raleway-600 {
    font-family: "Raleway";
    font-weight: 600;
}
.font-Raleway-700 {
    font-family: "Raleway";
    font-weight: 700;
}
.font-Raleway-800 {
    font-family: "Raleway";
    font-weight: 800;
}

