$unitpx: px;
$unitem: em;
$unitrem: rem;

$font_max_size: 120;
$box_maring_padding_max_size: 120;
$border-radius_max_size: 30;
$z-index_max_size: 100;

// Font size 10 - 120px
@for $i from 10 through $font_max_size {
    .font-size-#{$i} {
        font-size: $i + $unitpx;
    }
}


@for $i from 10 through $font_max_size {
    .line-height-#{$i} {
        line-height: $i + $unitpx;
    }
}

// Margin 1 - 120px Padding 1 - 120px
@for $i from 1 through $box_maring_padding_max_size {
    .ml-#{$i} {
        margin-left: $i + $unitpx;
    }
    .mr-#{$i} {
        margin-right: $i + $unitpx;
    }
    .mb-#{$i} {
        margin-bottom: $i + $unitpx;
    }
    .mt-#{$i} {
        margin-top: $i + $unitpx;
    }
    .mx-#{$i} {
        margin-left: $i + $unitpx;
        margin-right: $i + $unitpx;
    }
    .my-#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
    }
    .m-#{$i} {
        margin: $i + px;
    }
    .p-#{$i} {
        padding: $i + px;
    }
    .pl-#{$i} {
        padding-left: $i + px;
    }
    .pr-#{$i} {
        padding-right: $i + px;
    }
    .pb-#{$i} {
        padding-bottom: $i + px;
    }
    .pt-#{$i} {
        padding-top: $i + px;
    }
    .px-#{$i} {
        padding-left: $i + px;
        padding-right: $i + px;
    }
    .py-#{$i} {
        padding-top: $i + px;
        padding-bottom: $i + px;
    }
}

// Border radius 1 - 30px
@for $i from 1 through $border-radius_max_size {
    .radius-#{$i} {
        border-radius: $i + $unitpx;
    }
}
// Z-index 1 - 100
@for $i from 1 through $z-index_max_size {
    .z-#{$i} {
        z-index: $i;
    }
}
// square 1 - 100px
@for $i from 1 through 100 {
    .square-#{$i} {
        width: $i + $unitpx;
        height: $i + $unitpx;
    }
}

@for $i from 1 through 100 {
    .translate-y-top-#{$i} {
        transform: translateY($i + $unitpx);
    }
    .translate-y-bottom-#{$i} {
        transform: translateY(-$i + $unitpx);
    }
}
// lh 
@for $i from 1 through 100 {
    .lh-#{$i} {
        line-height: $i + $unitpx;
    }
}


.relative {
    position: relative;
}
.absoulte {
    position: absolute;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.items-start {
    align-items: flex-start;
}

.wor-wrap {
    word-wrap: break-word;
}


.cursor-pointer {
    cursor: pointer;
}
.cursor-disabled {
    cursor: not-allowed;
}

.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}

.overflow-y-auto {
    overflow-y: auto;
}