// CustomSub common-input-btn-svg-style
input[type="datetime-local"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 42px;
  padding: 0 12px;
  border-radius: var(--radius-circle);
  border: none;
}

svg {
  width: 24px;
  height: 24px;
}

svg path {
  fill: var(--txt-1);
}

.btn-icon {
  @include display-align-justify-flex(flex,center,center,null);
  width: 28px;
  height: 28px;
  border-radius: var(--radius-circle);
  border: none;
  background: none;
  cursor: pointer;
}

.btn-icon.right,
.btn-icon.add {
  background-color: var(--bgc-1);

  svg path {
    fill: var(--txt-1);
  }
}

.btn-icon.remove {
  background-color: var(--col-error);
}

.btn-icon svg {
  width: 16px;
  height: 16px;
}

.btn-icon svg path {
  fill: var(--bgc-0);
}

.btn-icon.small svg {
  width: 16px;
  height: 16px;
}

.btn-icon.purple svg path {
  fill: var(--bgc-1);
}



//button-style
.com-button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--radius-1);
  background-color: var(--bgc-2);
  color: var(--txt-1);
  border: none;
  transition: var(--trans-default);
}

.com-button:hover {
  color: #ffffff;
  background-color: var(--bgc-1);
}

.com-button:active {
  background-color: var(--bgc-1);
}

.com-dropdown {
  @include position(relative);
  width: 100%;
  display: inline-block;
}

.com-dropdown-content {
  @include position(absolute);
  display: none;
  min-width: 160px;
  z-index: 1;
}

.com-dropdown.hover:hover .com-dropdown-content {
  display: block;
}

.com-dropdown.active .com-dropdown-content.active.true {
  display: block;
}

.com-post {
  @include flex-direction-column;
  width: 100%;
  border-radius: 20px;
  gap: 10px;
  color: var(--txt-1);
  border: 1px solid var(--boc-1);
  word-wrap: break-word;
  background-color: var(--bgc-0);
  &--active {
    border-width: 3px;
  }
}
.com-post-content{
  @include position(fixed,(top,50%),(left,50%));
  width: 50%;
  height: 60%;
  max-width: 900px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
}
.detail-modal-box{
  @include position(fixed,(top,0),(left,0),(right,0),(bottom,0));
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999999;
}
.com-post .com-post-author {
  display: flex;
  gap: 10px;
}

.com-post .com-post-author .com-post-author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.com-post .com-post-author .com-post-author-avatar img {
  width: 45px;
  height: 45px;
}

.com-post .com-post-author .com-post-author-profile {
  @include flex-direction-column;
  justify-content: space-around;
}

.com-post .com-post-author .com-post-author-profile-name {
  font-size: 16px;
  color: var(--txt-1);
}

.com-post .com-post-author .com-post-author-profile-created {
  font-size: 12px;
  color: var(--txt-3);
}

.com-post svg.icon {
  width: 24px;
  height: 24px;
}
.more-position{
  @include position(absolute,(top,-26px),(left,-26px))
}

.more-trigger svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.more-trigger svg path {
  fill: var(--txt-1);
}

.more-content {
  @include flex-direction-column;
  transform: translateY(10px);
  background-color: var(--bgc-0);
  border: 1px solid var(--boc-1);
  border-radius: var(--radius-1);
  padding: 10px;
  gap: 4px;
}

.more-content .more-content-item {
  @include display-align-justify-flex(flex,center,null,null);
  gap: 10px;
  padding: 6px 10px;
  border-radius: var(--radius-circle);
  cursor: pointer;
}

.more-content .more-content-item:hover {
  background-color: var(--bgc-2);
}

.more-content .more-content-item svg {
  width: 24px;
  height: 24px;
}

.more-content .more-content-item svg path {
  width: 24px;
  height: 24px;
  fill: var(--txt-1);
}

.com-post .com-post-content {
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.com-post .note-action-count {
  font-size: var(--textSize-12);
  font-family: "Source Sans Pro";
  color: #030303;
}

.footer .note-action-count {
  font-size: 12px;
}

.com-post .com-post-info svg {
  display: flex;
  width: 24px;
  height: 24px;
}

.com-post .com-post-info-item:not(:first-child) {
  margin-left: 10px;
}

.com-post .note-action {
  svg {
    width: 24px;
    height: 24px;
  }

  &-item:not(:first-child) {
    margin-left: 10px;
  }
}

.com-switch {
  @include display-align-justify-flex(flex,center,null,null);
  gap: 4px;
}

.com-switch-label {
  @include position(relative);
  background-color: var(--bgc-4);
  border-radius: var(--radius-circle);
  width: 40px;
  height: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);
  display: inline-block;
  cursor: pointer;
}

.com-switch .com-switch-slider {
  @include position(absolute,(top,2.5px),(left,3px));
  height: calc(100% - 5px);
  padding-left: calc(50% - 5px);
  background: #ffffff;
  border-radius: var(--radius-circle);
  transition: var(--trans-default);
}

.com-switch input:checked+.com-switch-slider {
  left: 23px;
}

.com-input_card {
  display: inline-flex;
  background-color: var(--bgc-0);
  border-radius: var(--radius-circle);
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 42px;
}

.com-input_card .false {
  display: none !important;
}

.com-input_card-content {
  @include display-align-justify-flex(flex,center,center,null);
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0 12px;
}

.com-input_card-input {
  @include display-align-justify-flex(flex,center,center,null);
  gap: 10px;
  padding: 0 12px;
}

.com-input_card-input input {
  border: none;
  border-bottom: 2px solid var(--boc-1);
  font-size: 16px;
}

.com-input_card-input .btn {
  @include display-align-justify-flex(flex,center,center,null);
  width: 32px;
  height: 32px;
  border-radius: var(--radius-circle);
  background-color: var(--bgc-1);
  border: none;
  cursor: pointer;
}

.com-input_card-input .btn svg {
  width: 16px;
  height: 16px;
}

.com-input_card-input .btn path {
  fill: var(--bgc-0);
}

.com-input_card-input .btn-true {
  background-color: var(--bgc-1);
}

.com-input_card-input .btn-false {
  background-color: var(--col-error);
}


.hierarchical {
  @include fixed-z-index;
  width: 100%;
  height: 100%;
  background-color: rgb(3 3 3 / 34%);
  top: 0;
  left: 0;
}



// ContentFeed style
.event-note {
  @include flex-direction-column;
  gap: 6px;
  border: 1px solid var(--boc-1);
  border-radius: var(--radius-24);
  padding: 6px;

  .header {
    @include display-align-justify-flex(flex,center,space-between,null);

    .user {
      @include display-align-justify-flex(flex,center,null,null);
      @include position(relative);
      gap: 12px;

      .avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;

        .image {
          width: 100%;
          height: 100%;
        }
      }

      .avatar-left {
        @include position(relative);
        z-index: 2;
      }

      .avatarRight {
        @include position(absolute,(left,29px));
      }

      .placeholder {
        margin-right: 12px;
      }

      .profile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .nickname {
          line-height: 21px !important;
          font-size: 16px;
          color: var(--txt-1);
        }

        .created {
          line-height: 16px !important;
          font-size: 12px;
          color: var(--txt-3);
        }
      }
    }
  }

  .reply,
  .quote {
    @include display-align-justify-flex(flex,center,null,null);

    .title {
      width: 46px;
      padding-left: 12px;
    }

    .note {
      width: calc(100% - 66px);
    }
  }

  .content {
    padding-left: 46px;
    white-space: pre-wrap;
    word-wrap: break-word;

    .post-media-wrap {
      // gap: 8px !important;
      padding-top: 2px;

      .post-image {
        border-radius: var(--radius-8);
      }
    }
  }

  .footer {
    @include display-align-justify-flex(flex,center,null,null);
    gap: 15px;
    padding: 8px 0;
    padding-left: 46px;

    .info {
      @include display-align-justify-flex(flex,center,null,null);
      cursor: pointer;
    }
  }
}

.note-content {
  .post-image {
    border-radius: var(--radius-8);
  }
}


.event-less {
  @include display-align-justify-flex(flex,center,null,null);
  width: 100%;
  border: 1px solid var(--boc-1);
  border-radius: var(--radius-24);
  padding: 6px;

  .header {
    @include display-align-justify-flex(flex,center,null,null);
    gap: 12px;
    width: 142px;

    .avatar {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 4px;
      width: 83px;
      border-right: 1px solid #030303;
      margin-right: 9px;

      .nickname {
        line-height: 21px !important;
        font-size: 16px;
        color: var(--txt-1);
      }

      .created {
        line-height: 16px !important;
        width: 77px;
        font-size: 12px;
        color: var(--txt-3);
      }
    }
  }

  .text {
    flex: 1;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}

// relay style
.relay {
  &-edit {
    &--modal {
      overflow-y: auto;
      .btn-close {
        @include position(absolute,(top,-10px),(left,-10px));
      }
    }

    &--content {
      background-color: var(--bgc-0);
      border: 1px solid var(--boc-1);
      width: 50vw;
      height: 80vh;
      min-width: 545px;
      min-height: 400px;
      margin: auto;
      margin-top: 10vh;
    }

    &-mask {
      @include fixed-z-index;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(3 3 3 / 34%);
    }
  }

  &-name {
    &-list {
      width: 150px;
      min-width: 100px;
      border-right: 1px solid var(--boc-1);

      &--content {
        max-height: calc(100% - 30px);
      }
    }

    &-item {
      text-align: left;
      background-color: var(--bgc-0);
      border:1px solid var(--boc-1);
      height: 30px;
      line-height: 28px;
      color: var(--txt-1);
      font-size: 14px;
      &--active {
        border-width:2px;
      }
    }

    &-add {
      background-color: var(--bgc-1);
      height: 30px;
      text-align: center;
      color: var(--txt-1);
      line-height: 30px;
    }

    &-ipt {
      width: calc(100% - 140px);
      color: var(--txt-1);
      background-color: var(--bgc-0);
      border-bottom: 1px solid var(--boc-1);
    }
  }

  &-urls {
    width: calc(100% - 150px - 40px);
  }

  &-ipt {
    border-bottom: 1px solid var(--boc-1);
    color: var(--txt-1);
    background-color: var(--bgc-0);
    width: calc(100% - 60px);
    min-width: 200px;
  }
}

// message style
.message-content {
  @include fixed-z-index;
  top: 0;
  right: 0;
  left: 0;
  width: 260px;
  height: 40px;
  background-color: #93f4a6;
  border-radius: 26px;
  line-height: 40px;
  text-align: center;
  margin: auto;
}
// quote style
.quote-box-style{
  @include display-align-justify-flex(flex,center,center,null);
  width: 52px;
}

// note_detail > mode  style
.note-detail-mode-box{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}
.note-detail-mode-content{
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.capy-btn{
  padding: 5px 12px;
  border-radius: var(--radius-circle);
  background-color: var(--primary);
  transition: 0.3s;
  &:active {
    background-color: var(--primary-active);
  }
}

// ref Note_list -> Note -> Actions
.split-bar {
  width: 2px;
  height: 24px;
  background-color: #e8e8e8;
  border-radius: 4px;
}
