.com-button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--radius-1);
  background-color: var(--bgc-2);
  color: var(--txt-1);
  border: none;
  transition: var(--trans-default);
}

.com-button:hover {
  color: #ffffff;
  background-color: var(--bgc-1);
}

.com-button:active {
  background-color: var(--bgc-1);
}

.com-dropdown {
  width: 100%;
  display: inline-block;
  position: relative;
}

.com-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.com-dropdown.hover:hover .com-dropdown-content {
  display: block;
}

.com-dropdown.active .com-dropdown-content.active.true {
  display: block;
}

.com-post {
  width: 100%;
  // padding: 10px 40px;
  border-radius: 20px;
  @include flex-direction-column;
  gap: 10px;
  color: var(--txt-1);
  border: 1px solid var(--boc-1);
  word-wrap: break-word;
}

.com-post .com-post-author {
  display: flex;
  gap: 10px;
}

.com-post .com-post-author .com-post-author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.com-post .com-post-author .com-post-author-avatar img {
  width: 45px;
  height: 45px;
}

.com-post .com-post-author .com-post-author-profile {
  @include flex-direction-column;
  justify-content: space-around;
}

.com-post .com-post-author .com-post-author-profile-name {
  font-size: 16px;
  color: var(--txt-1);
}

.com-post .com-post-author .com-post-author-profile-created {
  font-size: 12px;
  color: var(--txt-3);
}

.com-post svg.icon {
  width: 24px;
  height: 24px;
}

.more-trigger svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.more-trigger svg path {
  fill: var(--txt-1);
}

.more-content {
  transform: translateY(10px);
  background-color: var(--bgc-0);
  border: 1px solid var(--boc-1);
  border-radius: var(--radius-1);
  padding: 10px;
  @include flex-direction-column;
  gap: 4px;
}

.more-content .more-content-item {
  cursor: pointer;
  @include flex-center-box;
  gap: 10px;
  padding: 6px 10px;
  border-radius: var(--radius-circle);
}

.more-content .more-content-item:hover {
  background-color: var(--bgc-2);
}

.more-content .more-content-item svg {
  width: 24px;
  height: 24px;
}

.more-content .more-content-item svg path {
  width: 24px;
  height: 24px;
  fill: var(--txt-1);
}

.com-post .com-post-content {
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.com-post .note-action-count {
  font-size: var(--textSize-12);
  font-family: "Source Sans Pro";
  color: #030303;
}
.footer .note-action-count {
  font-size: 12px;
}

.com-post .com-post-info svg {
  display: flex;
  width: 24px;
  height: 24px;
}

.com-post .com-post-info-item:not(:first-child) {
  margin-left: 10px;
}

.com-post .note-action {
  svg {
    width: 24px;
    height: 24px;
  }
  &-item:not(:first-child) {
    margin-left: 10px;
  }
}

.com-switch {
  @include flex-center-box;
  gap: 4px;
}

.com-switch-label {
  cursor: pointer;
  position: relative;
  background-color: var(--bgc-4);
  border-radius: var(--radius-circle);
  width: 40px;
  height: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);
  display: inline-block;
}

.com-switch .com-switch-slider {
  position: absolute;
  height: calc(100% - 5px);
  padding-left: calc(50% - 5px);
  background: #ffffff;
  border-radius: var(--radius-circle);
  transition: var(--trans-default);
  top: 2.5px;
  left: 3px;
}

.com-switch input:checked + .com-switch-slider {
  left: 23px;
}

.com-input_card {
  display: inline-flex;
  background-color: var(--bgc-0);
  border-radius: var(--radius-circle);
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 42px;
}

.com-input_card .false {
  display: none !important;
}

.com-input_card-content {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include flex-justify-align-center;
  padding: 0 12px;
}

.com-input_card-input {
  @include flex-justify-align-center;
  gap: 10px;
  padding: 0 12px;
}

.com-input_card-input input {
  border: none;
  border-bottom: 2px solid var(--boc-1);
  font-size: 16px;
}

.com-input_card-input .btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-circle);
  background-color: var(--bgc-1);
  border: none;
  @include flex-justify-align-center;
}

.com-input_card-input .btn svg {
  width: 16px;
  height: 16px;
}

.com-input_card-input .btn path {
  fill: var(--bgc-0);
}

.com-input_card-input .btn-true {
  background-color: var(--bgc-1);
}

.com-input_card-input .btn-false {
  background-color: var(--col-error);
}
.relays-popUp {
  width: 80vw;
  height: 80vh;
  min-width: 600px;
  min-height: 500px;
  // width: 414px;
  background-color: var(--bgc-0);
  border-radius: var(--radius-1);
  @include flex-direction-column;
  gap: 19px;
  padding: 26px 28px;
  border: 1px solid var(--boc-1);
  @include absolute-auto;
  z-index: 101;
  // right: -180px;
  .name-style {
    width: 222px;
    border: none;
    border-bottom: 1px solid var(--boc-1);
    font-size: 16px;
  }
}
.relays-left {
  width: 150px;
  height: 100%;
  border-right: 1px solid var(--boc-1);
  overflow-y: auto;
  .relays-left-li {
    width: 65px;
    height: 30px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1);
    background-color: var(--bgc-3);
    color: #858585;
    font-size: 14px;
    font-family: "Source Sans Pro";
    line-height: 30px;
    outline: none;
    margin-bottom: 7px;
  }
  .relays-left-li-true {
    background-color: #9f74eb;
    color: #000000;
  }
  .relay-name-active {
  }
}
.relays-right {
  width: 396px;
  height: 180px;
  overflow-y: auto;
  @include flex-direction-column;
  gap: 15px;
}
.relays-li {
  @include flex-center-box;
  gap: 15px;
  height: 28px;
  // margin-top: 15px;
}
.hierarchical {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(3 3 3 / 34%);
  z-index: 100;
  top: 0;
  left: 0;
}
.com-dtpicker {
  display: flex;
  gap:5px;
  font-size: var(--textSize-14);
  position: relative;
  input {
    padding: 0;
    letter-spacing: -1px;
    box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1);
    background-color: var(--bgc-0);
    border: 1px solid var(--bgc-4);
    color: var(--txt-1);
    padding-left: 12px;
    padding-right: 10px;
    height: 34px;
  }
  .end_data{
    padding-right: 0;
    padding-left: 20px;
  }
  .data-start-icon{
    position: absolute;
    top: 5px;
    left: 120px;
  }
  .data-end-icon{
    position: absolute;
    top: 5px;
    left: 150px;
  }
  /* 隐藏所有<input>元素的向下箭头 */
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    width: 130px;
    background: none;
    // padding-right: 20px;
    position: absolute;
    z-index: 99;
  }
}

.sub-window-icon{
  position: absolute;
  left: -7px;
}

.event-note {
  @include flex-direction-column;
  gap: 6px;
  border: 1px solid var(--boc-1);
  border-radius: var(--radius-24);
  padding: 6px;

  .header {
    @include flex-center-box;
    justify-content: space-between;

    .moreStyle {
      margin-right: 13px;
    }
    .user {
      @include flex-center-box;
      gap: 12px;
      position: relative;

      .avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;

        .image {
          width: 100%;
          height: 100%;
        }
      }
      .avatarLeft {
        position: relative;
        z-index: 2;
      }
      .avatarRight {
        position: absolute;
        left: 29px;
      }
      .placeholder {
        margin-right: 12px;
      }
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .nickname {
          font-size: 16px;
          color: var(--txt-1);
        }

        .created {
          font-size: 12px;
          color: var(--txt-3);
        }
      }
    }
  }

  .reply,
  .quote {
    @include flex-center-box;

    .title {
      width: 46px;
      padding-left: 12px;
    }

    .note {
      width: calc(100% - 66px);
    }
  }

  .content {
    padding-left: 46px;
    white-space: pre-wrap;
    word-wrap: break-word;
    .post-media-wrap {
      // gap: 8px !important;
      padding-top: 2px;
      .post-image {
        border-radius: var(--radius-8);
      }
    }
  }

  .footer {
    @include flex-center-box;
    gap: 15px;
    padding: 8px 0;
    padding-left: 46px;

    .info {
      cursor: pointer;
      @include flex-center-box;
    }
    .pullDownStyle {
      margin-left: auto;
      margin-right: 18px;
    }
  }
}
.note-content {
  .post-image {
    border-radius: var(--radius-8);
  }
}
.message-content{
  width: 260px;
  height: 40px;
  background-color: #93f4a6;
  border-radius: 26px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  margin: auto;
  z-index: 99;
}
.event-less {
  width: 100%;
  @include flex-center-box;
  border: 1px solid var(--boc-1);
  border-radius: var(--radius-24);
  padding: 6px;

  .header {
    @include flex-center-box;
    gap: 12px;
    width: 142px;

    .avatar {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 4px;
      width: 83px;
      border-right: 1px solid #030303;
      margin-right: 9px;

      .nickname {
        font-size: 16px;
        color: var(--txt-1);
      }

      .created {
        width: 77px;
        font-size: 12px;
        color: var(--txt-3);
      }
    }
  }

  .text {
    flex: 1;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}

.expand-list {
  height: fit-content;
  transition: height 0.5s;
  overflow: hidden;
  &-open {
    height: fit-content;
    margin-top: -34px;
  }
  &-close {
    height: 0;
  }
}
.relay-contnet{
  padding: 15px 5px;
  display: flex;

  .built-in-function{
    width: 144px;
    text-align: center;
    background-color: var(--bgc-0);
    box-sizing: border-box;
    font-family: "Raleway";
    color: var(--txt-1);
  }
  .built-li{
    border: 1px solid var(--txt-2);
    height: 30px;
  }
  .built-li-checked{
    background-color: var(--bgc-5);
    color: #000000;
  }
  .set-content{
    width: 100%;
    flex-direction: column;
    border: 1px solid var(--boc-1);
    .modal-content{
      margin: 0;
    }
    .modal-content{
      width: 100%;
      border: none !important;
      height: auto;
    }
    .relay-url-item{
      gap: 20px;
    }
    .relay-ipt{
      width: calc(100% - 56px);
    }
    .relay-name-ipt{
      width: calc(70% - 56px);
    }
  }
}
.relay {
  &-edit {
    &--modal {
        overflow-y: auto;
    }
    &--content {
      background-color: var(--bgc-0);
      border: 1px solid var(--boc-1);
      width: 50vw;
      height: 80vh;
      min-width: 500px;
      min-height: 400px;
      margin: auto;
      margin-top: 10vh;
    }
    &-mask {
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgb(3 3 3 / 34%);
      z-index: 99;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  &-name {
    &-list {
      width: 150px;
      min-width: 100px;
      border-right: 1px solid var(--boc-1);
      &--content {
        max-height: calc(100% - 30px);
      }
    }
    &-item {
        text-align: left;
        box-shadow: 2px 2px 4px rgba(3,3,3,0.1);
        background-color: #f5f5f5;
        height: 30px;
        line-height: 30px;
        color: var(--txt-1);
        font-size: 14px;
        color: #858585;
        &--active {
            background-color: var(--bgc-2);
            color: var(--txt-1);
        }
    }
    &-add {
        background-color: var(--bgc-1);
        height: 30px;
        text-align: center;
        color: var(--txt-1);
        line-height: 30px;
    }
    &-ipt {
        color: var(--txt-1);
        background-color: var(--bgc-0);
        border-bottom: 1px solid var(--boc-1);
    }
  }
  &-urls {
    width: calc(100% - 150px - 40px);
  }
  &-ipt {
    border-bottom: 1px solid var(--boc-1);
    color: var(--txt-1);
    background-color: var(--bgc-0);
    width: calc(100% - 80px);
    min-width: 200px;
  }
}
