.com-button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: var(--radius-1);
    background-color: var(--bgc-2);
    color: var(--txt-1);
    border: none;
    transition: var(--trans-default);
}

.com-button:hover {
    color: #FFFFFF;
    background-color: var(--bgc-1);
}

.com-button:active {
    background-color: var(--bgc-1);
}

.com-dropdown {
    width: 100%;
    display: inline-block;
    position: relative;
}

.com-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.com-dropdown.hover:hover .com-dropdown-content {
    display: block;
}

.com-dropdown.active .com-dropdown-content.active.true {
    display: block;
}

.com-post {
    width: 100%;
    padding: 10px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--txt-1);
    border: 1px solid var(--boc-1);
    word-wrap: break-word;
}

.com-post .com-post-author {
    display: flex;
    gap: 10px;
}

.com-post .com-post-author .com-post-author-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.com-post .com-post-author .com-post-author-avatar img {
    width: 45px;
    height: 45px;
}

.com-post .com-post-author .com-post-author-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.com-post .com-post-author .com-post-author-profile-name {
    font-size: 16px;
    color: var(--txt-1)
}

.com-post .com-post-author .com-post-author-profile-created {
    font-size: 12px;
    color: var(--txt-3)
}

.com-post svg.icon {
    width: 24px;
    height: 24px;
}

.more-trigger svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.more-trigger svg path {
    fill: var(--txt-1);
}

.more-content {
    transform: translateY(10px);
    background-color: var(--bgc-0);
    border: 1px solid var(--boc-1);
    border-radius: var(--radius-1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.more-content .more-content-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: var(--radius-circle);
}

.more-content .more-content-item:hover {
    background-color: var(--bgc-2);
}

.more-content .more-content-item svg {
    width: 24px;
    height: 24px;
}

.more-content .more-content-item svg path {
    width: 24px;
    height: 24px;
    fill: var(--txt-1);
}

.com-post .com-post-content {
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.com-post .note-action-count {
    font-size: 12px;
    font-family: "Source Sans Pro";
    color: #030303;
}

.com-post .com-post-info svg {
    display: flex;
    width: 24px;
    height: 24px;
}
.com-post .com-post-info-item:not(:first-child) {
    margin-left:10px;
}

.com-switch {
    display: flex;
    align-items: center;
    gap: 4px;
}

.com-switch-label {
    cursor: pointer;
    position: relative;
    background-color: var(--bgc-2);
    border-radius: var(--radius-circle);
    width: 80px;
    height: 40px;
    display: inline-block;
}

.com-switch .com-switch-slider {
    position: absolute;
    height: calc(100% - 10px);
    padding-left: calc(50% - 5px);
    background: greenyellow;
    border-radius: var(--radius-circle);
    transition: var(--trans-default);
    top: 5px;
    left: 5px;
}

.com-switch input:checked+.com-switch-slider {
    left: 40px;
}

.com-input_card {
    display: inline-flex;
    background-color: var(--bgc-0);
    border-radius: var(--radius-circle);
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 42px;
}

.com-input_card .false {
    display: none !important;
}

.com-input_card-content {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.com-input_card-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 12px;
}

.com-input_card-input input {
    border: none;
    border-bottom: 2px solid var(--boc-1);
    font-size: 16px;
}

.com-input_card-input .btn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-circle);
    background-color: var(--bgc-1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.com-input_card-input .btn svg {
    width: 16px;
    height: 16px;
}

.com-input_card-input .btn path {
    fill: var(--bgc-0);
}

.com-input_card-input .btn-true {
    background-color: var(--bgc-1);
}

.com-input_card-input .btn-false {
    background-color: var(--col-error);
}

.com-dtpicker {
    display: flex;
    gap: 10px;
}