.layout-main {
    width: calc(100vw - 230px);
    padding: 20px;
}

::-webkit-scrollbar {
    width: 0;
}

.post-link {
    color: var(--link);
}

.post-tag-link {
    color: var(--link);
    text-decoration: none;
}

.post-tag-link:hover {
    text-decoration: underline;
}

.post-media-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.post-image {
    display: block;
    height: 160px;
    max-width: 100%;
}

.post-video {
    display: block;
    height: 160px;
    max-width: 100%;
}