
:root {
  --size-26: 26px;
}

.layout-left {
  width: 230px;
  background-color: var(--bgc-2);
  padding: 10px;
  color: var(--txt-2);
  height: 100vh;
  overflow: scroll;
}
.layout-left .pro-title {
  color: var(--txt-2);
  font-family: 'Raleway';
  font-weight: 800;
  line-height: var(--size-26);
  font-size: var(--size-26);
  text-align: center;
  margin: 20px 0;
}

.layout-left .account-wrapper {
  margin-bottom: 16px;
  border-radius: var(--size-26);
  background-color: var(--bgc-0);
}
.layout-left .user-item {padding: 5px 10px
}
.layout-left .user-avatar-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}

.layout-left .nav-item {
  border-radius: var(--size-26);
  padding: 6px 18px;
  margin-bottom: 10px;
}
.layout-left .nav-item.active {
  background-color: var(--bgc-0);
}
.layout-left .nav-item-text {
  margin-left: 12px;
  color: var(--txt-2);
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
  line-height: 20px;
}

.layout-left .nav {
  margin-bottom: 45px;
}
.layout-left .subscriptions {
  color: var(--txt-2);
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 20px;
}
.layout-left .menu .subscriptions{
    width: 100%;
    margin-top: 50px;
}
.layout-left .menu .subscriptions-item {
    width: 100%;
    background-color: var(--bgc-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 10px;
    border-radius: var(--radius-2);
    color: var(--txt-1);
}

.layout-left .menu .subscriptions-item .nav-item {
   background: none;
   border: none;
   font-size: 12px;
   padding: 4px 20px;
   border-radius: var(--radius-1);
   cursor: pointer;
   width: 100%;
}

.layout-left .menu .subscriptions-item .nav-item:hover {
   background-color: var(--bgc-2);
}

.layout-left .menu .subscriptions-item .nav-item.active {
   background-color: var(--bgc-2);
}



.user-trigger-item {
  padding: 5px 10px;
}
.user-trigger-item:not(:last-child) {
  border-bottom: 1px solid #c2c2c2;
}
.user-trigger-item-button {
  cursor: pointer;
  width: 72px;
  height: 27px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 18px;
  outline: none;
}
.user-trigger-item .log-button {
  background: var(--col-error);
  margin-right: 6px;
}
.user-trigger-item .pro-button {
  background: var(--link);
  color: var(--bgc-0);
}
.user-trigger-item .copy-btn svg {
  width: 28px;
  height: 28px;
}
.layout-left .user-name {
    width: 100px;
}
.layout-left .add-note-btn {
    line-height: 27px;
    border-radius: 10px;
    background-color: var(--bgc-1);
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 600;
    color: #fff;
}