.not-style {
  width: 391px;
  height: 100%;
  gap: 10px;

  .day-box {
    height: 22px;

    .border000 {
      width: 370px;
      background-color: var(--boc-1);
      height: 1px;
    }

    span {
      color: var(--txt-2);
      font-size: var(--textSize-18);
      font-family: "Raleway";
      font-weight: 400;
      line-height: 22px;
      left: 58px;
      background-color: var(--bgc-0);
      top: -2px;
    }
  }
  .notificatio-contents{
    overflow-y: scroll;
  }

  .notificatio-box {
    position: relative;
    background-color: var(--bgc-2);
    border-radius: var(--radius-24);
    border: 1px solid var(--boc-1);
    box-sizing: border-box;
    padding: 5px 4px;
    margin-bottom: 5px;

    .notificatio-rigth-icon {
      position: absolute;
      top: 11px;
      right: 12px;
    }
  }

  .header {
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px 3px;
    padding-right: 5px;
  }

  .user {
    align-items: center;
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nickname {
    color: var(--boc-1);
    font-family: "Source Sans Pro";
    line-height: 21px;
  }

  .created {
    color: #969696;
    font-family: "Raleway";
    font-weight: 500;
    line-height: 18px;
  }

  .avatar-left {
    img {
      width: 46px;
      height: 46px;
    }
  }

  .content {
    margin-left: 62px;
    margin-right: 44px;
    color: var(--boc-1);
    font-family: "Source Sans Pro";
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;
  }
}

.cont-box {
  background-color: var(--bgc-0) !important;

  .content {
    margin: 0 14px;
    margin-top: 11px;
    color: var(--boc-1);
    font-family: "Raleway";
    font-weight: 500;
    line-height: 18px;
  }
}