.NotStyle {
  width: 391px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .custom-sub-header{
    margin-left: 16px;
  }

  .dayBox{
    display: flex;
    height: 22px;
    margin-left: 16px;
    position: relative;
    .border000{
      width: 370px;
      margin-top: 11px;
      background-color: #000;
      height: 1px;
    }
    span{
      color: #2b2c2b;
      font-size: var(--textSize-18);
      font-family: "Raleway";
      font-weight: 400;
      line-height: 22px;
      position: absolute;
      left: 58px;
      background-color: #fff;
      top: -2px;
    }
  }





  .NotificatioBox{
    background-color: #f6f2ff;
    border-radius: var(--radius-24);
    border: 1px solid var(--boc-1);
    box-sizing: border-box;
    padding: 5px 4px;
  }
  .header{
    display: flex;    
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px 3px;
    padding-right: 5px;
  }
  .user{
    display: flex;
    align-items: center;
  }
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .nickname{
    color: var(--boc-1);
    font-size: 16px;
    font-family: "Source Sans Pro";
    line-height: 21px;
  }
  .created{
    color: #969696;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 500;
    line-height: 18px;
  }
  .avatarLeft{
    img{
      width: 46px;
      height: 46px;
    }
  }
  .content{
    margin-left: 62px;
    margin-right: 44px;
    color: var(--boc-1);
    font-size: 18px;
    font-family: "Source Sans Pro";
    font-weight: 400;
    line-height: 22px;
  }
}
.contBox{
  background-color: #fff !important;
  .content{
    margin: 0 14px;
    margin-top: 11px;
    color: var(--boc-1);
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 500;
    line-height: 18px;
  }
}